body {
  font-family: sans-serif;
  width: 80%;
  margin: 1em auto;
  color: #2e3436;
}
div#box {
}
div#header, div#menu, div#content, div#footer {
  padding: 1em;
}
div#menu {
  background-color: #eeeeec;
  padding: 0.6em 0 0.6em 0;
}
#menu span {
  font-weight: bold;
  padding: 0.6em;
}
#menu span.current {
  background-color: #ffffff;
  border: 1px solid #eeeeec;
}
#menu a {
  color: #000000;
  text-decoration: none;
}
div#footer {
  color: gray;
  text-align: center;
  font-size: small;
}
div#footer a {
  color: gray;
  text-decoration: none;
}
pre {
  border: dotted black 1px;
  background: #eeeeec;
  font-size: small;
  padding: 1em;
}

/*--------------------------------------------------------------------------*/

td form {
  margin: 0px;
}

table#ds_list, table#ds_list td, table#ds_list th {
  border: dotted 1px #999a9c;
}

#graph_cell {
  text-align: center;
  display: inline-block;
}
#values {
  text-align: left;
}

/*--------------------------------------------------------------------------*/

input[type=submit], input[type=button], button {
  border: 1px solid #999a9c;
  background: #bfc2c6;
}
input[type=text], textarea {
  border: 1px solid #999a9c;
  background: #eee;
}

/*--------------------------------------------------------------------------*/
