<html>
<head>
<title>plotarrd -- {{ file }}</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<script>

function create_form_label(name) {
  var hidden_input = document.createElement("input");
  hidden_input.type = "hidden";
  hidden_input.name = "datasource";
  hidden_input.value = name;

  var label = document.createElement("i");
  label.appendChild(document.createTextNode(name));

  var div = document.createElement("div");
  div.appendChild(hidden_input);
  div.appendChild(label);

  return div;
}

function add_datasource(name) {
  var search_id = "added " + name; // to reliably remove element later

  // don't add something already added
  if (document.getElementById(search_id) != null)
    return;

  var added_table = document.getElementById("added");
  var row = added_table.insertRow(-1);
  row.id = search_id;

  var label = create_form_label(name);

  var link = document.createElement("a");
  link.href = "#";
  link.innerHTML = "remove";
  link.onclick = function () {
    var row = document.getElementById(search_id);
    row.parentElement.removeChild(row);
  };

  row.insertCell(0).appendChild(label);
  row.insertCell(1).appendChild(link);
}

</script>
</head>
<body>

<h1><tt>{{ file }}</tt></h1>

<p>Datasources:</p>

<table border="0">
{% for s in datasources %}
  <tr>
    <td><i>{{ s }}</i></td>
    <td><a href="#" onclick="add_datasource('{{ s }}')">add</a></td>
  </tr>
{% endfor %}
</table>

<p>Already added datasources:</p>

<form action='{{ url_for("browse_datasources", file = file) }}' method='post'>
  <table border="0" id="added">
  </table>

  <button type='submit' name='finish'>finish</button>
</form>

</body>
</html>
